<div class="ui stackable grid footer">
  <div class="two wide computer sixteen wide mobile column">
  </div>

  <div class="twelve wide computer sixteen wide mobile column">
    <div class="ui vertical segment">
      <div class="ui center aligned container">
        <p>© Gexternaliz. Au service des experts.</p>
        <div class="ui horizontal small divided link list">
          <a class="item" href="/">Homepage</a>
          <a class="item" href="#">Contact</a>
          <a class="item" href="#">Terms</a>
          <a class="item" href="#">Privacy</a>
        </div>
      </div>
    </div>
  </div>

  <div class="two wide computer sixteen wide mobile column">
  </div>
</div>
